.Filters {
    border-right: 3px solid lightgrey;
}

.Filter {
    min-height: 58px;
    padding: 1rem 1.4rem;
    flex: 1;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-name {
        margin-bottom: 0.5rem;
        position: relative;
        display: flex;

        span {
            padding-right: 1rem;
        }
    }

    &-range {
        position: relative;
        &:before {
            position: absolute;
            content: 'Low';
            left: 0;
            top: 100%;
            font-size: 8px;
            color: lightgrey;
        }
        &:after {
            position: absolute;
            content: 'High';
            right: 0;
            top: 100%;
            font-size: 8px;
            color: lightgrey;
        }
    }

    &-reset {
        padding: 0.4rem 0.9rem;
        font-size: 10px;
        border-radius: 24px;
        
    }
}