.Filters {
    border-right: 3px solid lightgrey;
}

.Filter {
    min-height: 58px;
    padding: 1rem 1.4rem;
    flex: 1;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-name {

    }

    &-range {

    }
}