.Container {
    $space: 20px;
    @include outer-container;
    background: white;
    margin-top: $navHeight + $space;
    border-radius: 5px;
    box-shadow: 1px 1px 12px 1px rgba(0,0,0,0.2);
    height: calc(100vh - #{$navHeight + ($space * 2)});
}

%Pane {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}