.Songs {
  width: 100%;
  border-radius: $radius;
  display: flex;
  flex-direction: column;
  &-header {
    // padding: 2rem 1rem 0.5rem 1rem;
  }
}

.Song {
  width: 100%;
  display: flex;
  background: transparentize(black, 0.2);
  border-bottom: 0.5px solid lightgrey;
  color: white;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  &:hover {
    background: transparentize(black, 0.5);
    cursor: pointer;
  }

  td {
    padding: 1rem;
  }

  &-song,
  &-album,
  &-artist,
  &-remove {
    padding: 0.5rem;
    text-align: left;
    flex: 1 1 25%;
  }

  &-details {
    height: 50px;
    background: white;
    width: 100%;
  }

  // &:first-child {
  //   margin-top: 1rem;
  //   border-top-left-radius: $radius;
  //   border-top-right-radius: $radius;
  // }

  // &:last-child {
  //   border-bottom: none;
  //   border-bottom-left-radius: $radius;
  //   border-bottom-right-radius: $radius;
  // }
}
