$purp: #602196;
$pink: #f0889d;
$seafoam: #52ddc8;
$radius: 5px;
$spaceFromTop: 2rem;
$gradient--pinkPurple: linear-gradient(90deg, $purp -50%, $pink 150%);

body {
  background: $gradient--pinkPurple;
}

* {
  box-sizing: border-box;
}



// NEW

@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

@import 'var';
@import 'layout';
@import 'filter';
@import 'viewer';

// Layout
@import 'nav';
// Components
@import 'input';
@import 'table';

body,
html {
  height: auto;
}
