$purp: #602196;
$pink: #f0889d;
$seafoam: #52ddc8;
$radius: 5px;
$spaceFromTop: 2rem;
$gradient--pinkPurple: linear-gradient(90deg, $purp -50%, $pink 150%);
html,
body {
  height: 100%;
}

body {
  background: $gradient--pinkPurple;
}

* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 200;
}

.Container {
  max-width: 1000px;
  margin: auto;
  margin-top: 150px;
}

// Layout
@import 'nav';
// Components
@import 'input';
@import 'avatar';
@import 'songs';
@import 'table';
@import 'sorter';
