{
  "extends": [
    "standard",
    "standard-react"
  ],
  "globals": {
    "fetch": false,
    "describe": false,
    "beforeEach": false,
    "it": false,
    "expect": false,
    "jasmine": false,
    "spyOn": false
  }
}